*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: auto;
}

#container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 150px 200px 200px 100px 200px;
      grid-template-columns: 150px 150px 200px 200px 100px 200px;
  -ms-grid-rows: 150px 400px 100px 250px;
      grid-template-rows: 150px 400px 100px 250px;
}

header {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: aquamarine;
  text-align: center;
}

.header__text {
  color: red;
}

nav {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  background-color: rgba(196, 37, 37, 0.938);
  padding-left: 2em;
  padding-top: 5em;
}

nav .flex-nav ul {
  list-style-type: none;
}

nav .flex-nav ul li {
  background-color: chocolate;
  padding: 1em;
  font-size: 0.8em;
  text-indent: 1.5em;
  -webkit-transition: 2s ease-out 0.2s;
  transition: 2s ease-out 0.2s;
}

nav .flex-nav ul li:nth-child(odd) {
  color: #d4cccc;
  -webkit-transition: 2s ease-in 0.1s;
  transition: 2s ease-in 0.1s;
}

nav .flex-nav ul li:nth-child(odd):hover {
  -webkit-transform: translate(40px);
          transform: translate(40px);
  text-decoration: underline;
}

nav .flex-nav ul li:nth-child(even) {
  color: #338ab3;
}

nav .flex-nav ul li:nth-child(even):hover {
  -webkit-transform: translate(-40px);
          transform: translate(-40px);
  text-decoration: underline;
}

article {
  background-color: violet;
  color: greenyellow;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -webkit-transition: 4s ease-in-out 0.3s;
  transition: 4s ease-in-out 0.3s;
}

article:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #3d13b3;
  border: 3px ridge blue;
  background-color: aqua;
}

aside {
  background-color: green;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

footer {
  color: #4308e6;
  background-color: yellow;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 3;
  grid-row: 3;
  font-size: 0.8em;
}

.caroussel {
  background-color: blue;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images img {
  margin-right: 0.5em;
}

.images img:hover {
  width: 500px;
  height: 300px;
}
/*# sourceMappingURL=style.css.map */