$color-nice: rgb(67, 8, 230);
$font-sizedd: 0.8em;

body {
    width: 50%;
    margin: auto;
  }
  #container {
    display: grid;
    grid-template-columns: 150px 200px 200px 100px;
    grid-template-rows: 150px 400px 100px;
  }
  header {
    grid-column: 2 / span 3;
    grid-row: 1;
    background-color: aquamarine;
    text-align: center;
  }
  .header__text {
    color: red;
  }
  nav {
    grid-column: 1;
    grid-row: 2 / span 2;
    background-color: darkred;
  }
  article {
    background-color: violet;
    color: greenyellow;
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    transition: 4s ease-in-out 0.3s;
  }
  article:hover {
    transform: scale(1.3);
    color: rgb(61, 19, 179);
    border: 3px ridge blue;
    background-color: aqua;
    
   
  }
  
  aside {
    background-color: green;
    grid-column: 4;
    grid-row: 1 / span 4;
  }
  
  footer {
    color: $color-nice;
    background-color: yellow;
    grid-column: 1 / span 3;
    grid-row: 3;
    font-size: $font-sizedd;
  }
  